body {
    background-color: #A2D2FF;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center
}

.top {
  background-color: #93B5C6;
  margin: 0;
  padding: 0;
  width: auto;
}

hr {
  border-top: 1px dotted black;
  zoom: 2;
  margin: 0;
  padding: 0;
  width: auto;
}

.parameters label {
    display: inline-block;
    width: 200px;
}
