body {
    
    background-image: url('../img/soft-grid.jpg');
    background-color: #A2D2FF;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center
}

.top {
  background-image: url('../img/soft-grid.gif');
  margin: 0;
  padding: 0;
  width: auto;
}

hr {
  border-top: 1px dotted black;
  zoom: 2;
  margin: 0;
  padding: 0;
  width: auto;
}

.parameters label {
    display: inline-block;
    width: 200px;
}

button {
background-color:#FF00E4;
border: #2e6da4; 
font-family: 'Work Sans', sans-serif;
font-size: 15px; 
color: #fff; 
letter-spacing: 1px; 
padding: 8px 12px;
font-size: 18px;
font-weight: normal;
border-radius: 25px;
line-height: 1.5;
text-decoration:none;
margin: 15px;
}